[core]
	excludesfile = ~/.gitignore_global

[user]
	name = Sebastian Mulders
	email = 
[gpg]
	program = /usr/local/bin/krgpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[pull]
	ff = only
[push]
	default = current
